.timerShaft {
  height: 0.45rem;
  border-top: 0.01rem solid #e5e5e5;
  font-size: 0.15rem;
  font-family: Source Han Sans CN;
  font-weight: 550;
  color: #010713;
  line-height: 0.45rem;
}
.flowImgMainParent {
  height: 1.2rem;
  overflow: auto;
}
.flowImgMain {
  height: 0.76rem;
  .flowImgMainTime {
    margin: 0 0.09rem 0 0.35rem;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    float: left;
  }
  > div:last-child {
    padding-left: 0.09rem;
    display: flex;
    flex-direction: column;
    > span {
      font-size: 0.12rem;
      margin-bottom: 0.07rem;
    }
    > span:first-child {
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #010713;
    }
    > span:last-child {
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #a4a4a4;
    }
  }
  .flowIcon {
    float: left;
    width: 0.12rem;
    height: 0.12rem;
    background: rgba(64, 99, 231, 0.3);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      width: 0.06rem;
      height: 0.06rem;
      background: #4063e7;
      border-radius: 50%;
    }
  }
  .flowIcon::after {
    content: '';
    width: 0.01rem;
    height: 0.75rem;
    background: rgba(64, 99, 231, 0.5);
    // background-image: linearge-gradient(red, blue);
    // background-image: linear-gradient(rgba(64, 99, 231, 0.5), 60%, #fff, 100%);
    position: absolute;
    top: 50%;
  }
}
