.van-cell {
  padding: 0;
  height: 0.45rem;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.van-cell::after {
  display: none !important;
}
.van-cell-clickable:first-child {
  border-bottom: 0.01rem solid #e5e5e5;
}
.van-cell:nth-child(2) {
  height: 0.5rem;
  line-height: 0.54rem;
}
.van-field__control,
.van-cell__value {
  color: #010713;
}
.moneyStyles {
  background: #fff !important;
  height: 0.4rem !important;
  padding: 0 4% 0 5% !important;
  margin-left: -5%;
  width: 109%;
  // display: flex;
  // flex-wrap: wrap;
}
.paddingCell {
  padding: 0 0.2rem 0 0 !important;
}
.moneyUnit {
  font-size: 0.1rem;
  color: #4063e7;
}
.van-cell {
  padding: 0;
  height: 0.45rem;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.van-cell::after {
  display: none !important;
}
