/* // 项目信息 */
.projectDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .afterRight::after {
    content: '';
    width: 0.01rem;
    height: 0.28rem;
    background: #d0d0d0;
    position: absolute;
    right: 0;
  }
  .projectData {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.06rem;
    height: 0.68rem;
    background-color: #fff;
    margin-bottom: 0.22rem;
    .projectHead {
      min-width: 0.55rem;
      display: flex;
      justify-content: center;
      padding: 0.02rem 0.08rem;
      > span:nth-child(1) {
        margin-right: 0.05rem;
        font-size: 0.1rem;
        color: #848484;
      }
      > span:nth-child(2) {
        font-size: 0.1rem;
      }
    }
    .projectNum {
      display: inline-block;
      margin: 0.08rem 0;
      line-height: 0.24rem;
      font-size: 0.24rem;
      font-weight: bold;
      font-family: 'HeiTiStd';
    }

    .projectName {
      font-size: 0.12rem;
    }
  }
}
